#mapid 
{ 
    height: 580px; 
    margin:10px 0px;
    position: relative;
    z-index: 10;
}

.nav { 
    position: fixed !important; 
    top: 0px; 
    left: 0px; 
    right: 0px; 
    background-color: #55B1A3 !important;
    z-index: 100;  
}

.iconfeaturescolor
{
    color: #00768B;
}

.iconfeaturesmenucolor
{
    color:white;
}

.iconpopulationcolor
{
    color: orange ;
}

.iconlifelinecolor
{
    color:#00B2D1 ;
}

.iconpropertiescolor
{
    color:#8B7600 ;
}

.iconagriculturecolor
{
    color:green ;
}

.icontotalcolor
{
    color: red ;
}

.footer { 
    background-color: white;
}

.anchor {
    padding-top:20px; 
}

.floating-menu {
    position: fixed;
    margin-top: 120px;
    right: 1.2%;
    z-index: 100;
}

.material-button {
    position: relative;
    top: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    font-size: 1.5em;
    color: #fff;
    background:gray;
    border: none;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,.275);    
    outline: none;
    margin:5px;
}

.icon .info {
    margin-top: 20px;
    padding: 0px;
    margin-right: -20px;
}

a.navbar-item:hover{
    background-color:#AAAAAA;
}

.hero-body {
    padding-top: 140px !important;
    padding-bottom: 70px !important;
}

.menutitle {
    margin-left: 3px;
}

p.panel-heading {
    margin-bottom: 10px;
}

