body {
    font-family: 'Lato';
    background: #E0DEDE;
}

.top-bar-container {
    z-index: 999;
}

.sticky {
    width: 100%;
}

nav {
    margin-left: 45px;
    margin-top: -20px;
}

nav ul {
  list-style: none;
  background-color: transparent !important;
}

nav li {
  display: inline-block;
  margin-left: 15px;
}

nav li a {
    color: lightgray;
    text-transform: uppercase;
    font-size: 13px;
}

nav li a:hover {
    color: orange;
}

/*.tesdamenu {
    margin-left: 72px;
    margin-top: -25px;
    margin-bottom: 10px;
}

.tesdamenu a{
    color: darkgray;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
}*/

.orbit {
    background: orange;
}

.orbit-caption{
    color: darkgrey;
}

.orbit-bullets {
  margin-top: 0.2rem;
}

.section {
    margin: 0px;
    text-align: center;
}

.section .title {
    margin-top: 20px;
    padding: 0px;
    font-weight: bold;
}

.section .title h3 {
    margin: 0px;
}

.title h5 {
    font-weight: bold;
    color: darkslateblue;
    text-transform: uppercase;
}

.section .divider {
    padding: 0px;
    margin: -8px 0px 10px 0px;
}

.top-bar {
    background:#081E43;
}

.section p {
    font-size: 14px;
    text-align: left;
    margin-bottom: 20px;
}

.sectionslider {
    padding: 0px;
    margin-bottom: -13px;
}
.sectionwhite {
    background: white;
}

.sectiongray {
    background: #F5F5F5;
}

.footer {
    background-color: #081E43;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer p.title {
    color: lightgray;
    margin: 0px;
    padding: 0px;     
}

.footer p.links {
    color: #6D8EAD;
   
}

a.anchor {
    display: block;
    position: relative;
    top: -120px;
    visibility: hidden;
}

.contactus p {
    font-size: 13px;
    margin: 0px;
    padding: 0px;
}

.contactusicons {
    margin: 0px;
    padding: 0px;
    text-align: right;
}

.bannerheader {
    margin-top: 10px;
    background: #2F3D64;
}

.bannerheader h3 {
    text-align: left;
    line-height: 50px;
    margin-left: 20px;
    padding-top: 10px;
    color: whitesmoke;
}
